#contents2 {
    width: 100%;
    height: 500px;
    padding-top: 30px;
    background-image: url(../image/background.png);
    background-size: contain;
    text-align: center;
}

.cont21 {
    display: flex;
}

.cont22 {
    display: flex;
    margin-top: 20px;
}

.cont21>li>a {
    display: block;
    width: 200px;
    height: 200px;
    background: #f2f2f2;
    border-radius: 50px;
}

.cont22>li>a {
    display: block;
    width: 200px;
    height: 200px;
    background: #f2f2f2;
    border-radius: 50px;
}
.heart{display: block; width:100px;}
.gift{display: block; width:100px;}

.cont21>li:nth-child(2){
    line-height:200px;
}
.cont21>li:nth-child(3){
    line-height:200px;
}
.cont21>li:nth-child(4){
    line-height:200px;
}
.cont22>li:nth-child(2){
    line-height:200px;
}
.cont22>li:nth-child(3){
    line-height:200px;
}
.cont22>li:nth-child(4){
    line-height:200px;
}

#contents2>.cont21>li>a{
    text-decoration: none;
    color:black;
}
#contents2>.cont22>li>a{
    text-decoration: none;
    color:black;
}

/* 호버 */
#contents2>.cont21 a:hover {
    background-color: #01c0f1;
    color:white;
}

#contents2>.cont22 a:hover{
    background-color: #01c0f1;
    color:white;
}

/* 반응형 웹 1600 >768> 480 순서로 설정*/