footer{
  height: 250px;
  background-color: #f2f2f2;
}
footer>a>img{
  float: left;
  width:100px;
  display:flex;
}
footer>#anne{
  position: relative;
  font-size: 18px;
  display: block;
  width:1300px;
  height: 100px;
}

footer>#anne>#phone-number{
  position:relative;
  font-size:30
}

footer>#anne>ul {
  position:relative;
  float:left;
  margin: 0;
  padding: 0;
}

footer>#anne>ul>a{
  text-decoration: none;
  color:black;
}
footer>#anne>ul>a:first-child>li{
  margin-top:20px;
}
footer>#anne>ul>a>li {
  position:relative;
  float:left;
  margin-left: 10px;
  font-size: 15px;
}

/* footer>#anne>ul>a:first-child{
  margin-top:5px;
} */

footer>#text11{
  display: inline-block;
  width:1500px;
  height: 150px;
  font-size:15px;
}
footer>#text11>a>img{
  width:25px;
  height: 25px;
}
