
header {
    display: flex;
    height: 150px;
    background-color: #01c0f1;
}
header >.align{
    display: flex;
}
header>#logo>a>img {
    width: 150px;
    margin-left: 150px;
}

header>nav {
    width: 1350px;
    display: flex;
    justify-content: center;
    margin-top:30px;

  


}
nav{margin-top: 50px;  font-weight: bold;
    color: white;  }
nav > ul >li{margin-left: 20px;}
nav > ul >li>a{text-decoration: none;color: white;}
nav >ul{
    display: flex;
}
header>nav>ul>li {
    display: flex;
    float: left;
    position: relative;
    margin-right: 50px;
}

header>nav>#main>li>.hovermenu{
    color: white;
    font-size: 35px;
    margin: 10px;
}

nav>#main>li>#sub {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 70px;
    text-align: center;
    overflow: visible;
}

nav>#main>li>#sub>li>a {
    text-decoration: none;
    color: black;
}


nav>#box {
    display: none;
    width: 0;
    height: 0;
}

nav>#main>li:hover #sub{
    display: inline-block;
    width: 100%;
    padding: 5px;
    background: #01c0f1;
    overflow: visible;
    z-index: 1;
    color:white;
}
nav>#main li:hover>.hovermenu {
    text-decoration: underline;
}
nav>#main>li:hover>a {
    text-decoration: none;
}

nav>#main>li>#sub>li>a:hover {
    text-decoration: underline;
}

/* header>#quick {
    
} */
header>.align>#quick{
    width:40px;
    margin-top:45px;
    display: flex;
}
