#slide {
  height: 500px;
  position: relative;
  overflow: hidden;


}

#slide>#slider {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#slider>img{
width: 100vW;
  display: block;
}

#slider:first-child {
  opacity: 1;
  animation: slideShow 12s linear infinite 0s;
}

#slider:nth-child(2) {
  animation: slideShow 12s linear infinite 4s;
}

#slider:nth-child(3) {
  animation: slideShow 12s linear infinite 8s;
}

/* chat gpt의 수정안 : opacity 코드를 활용 
    불투명도를 설정하여 슬라이드 이동 후 사진이 서서히 보였다가 다시 흐려지는 효과를 넣음 
    뭔가 있어보임*/

@keyframes slideShow {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  33.333% {
    opacity: 1;
  }

  53.333% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
